
body {
  background: #ecf0f1;
  color: #000;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
}

a {
  text-decoration: none;
}

span {
  line-height: 9px;
  vertical-align: 50%;
}